/* 기본 테마 설정 */
body.light-mode {
    background-color: #f9f9f9; /* 라이트모드 배경색 설정 */
    color: #000; /* 라이트모드 텍스트 색상 설정 */
    transition: background-color 0.3s, color 0.3s; /* 배경색과 텍스트 색상 변경 시 애니메이션 효과 */
}

/* 다크 모드 테마 설정 */
body.dark-mode {
    background-color: #212121; /* 다크모드 배경색 설정 */
    color: #fff; /* 다크모드 텍스트 색상 설정 */
}

/* 폼 스타일 */
.signup-form {
    background-color: #fff; /* 폼 배경색 설정 */
    padding: 30px; /* 폼 내부 패딩 설정 */
    border-radius: 10px; /* 폼 모서리 둥글게 설정 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 폼 그림자 설정 */
    max-width: 400px; /* 폼 최대 너비 설정 */
    margin: 20px auto; /* 폼 상하 여백과 가운데 정렬 */
    transition: background-color 0.3s, color 0.3s; /* 배경색과 텍스트 색상 전환 애니메이션 */
}

/* 다크모드에서 폼 스타일 */
.signup-form.dark-mode {
    background-color: #171717; /* 다크모드 폼 배경색 설정 */
    color: #fff; /* 다크모드 폼 텍스트 색상 설정 */
}

/* 입력 필드 스타일 */
.signup-form .form-control {
    width: 100%; /* 입력 필드 너비 100% 설정 */
    padding: 10px; /* 입력 필드 내부 여백 설정 */
    border: 1px solid #ccc; /* 입력 필드 테두리 색상 설정 */
    border-radius: 5px; /* 입력 필드 모서리 둥글게 설정 */
    background-color: #fff; /* 입력 필드 배경색 설정 */
    color: #000; /* 입력 필드 텍스트 색상 설정 */
    transition: background-color 0.3s, color 0.3s; /* 배경색과 텍스트 색상 전환 애니메이션 */
}

/* 다크모드에서 입력 필드 스타일 */
.signup-form.dark-mode .form-control {
    background-color: #333; /* 다크모드 입력 필드 배경색 설정 */
    color: #fff; /* 다크모드 입력 필드 텍스트 색상 설정 */
    border: 1px solid #757575; /* 다크모드 입력 필드 테두리 색상 설정 */
}

/* 라벨 스타일 */
.signup-form label {
    font-weight: bold; /* 라벨 텍스트 굵게 설정 */
    margin-top: 15px; /* 라벨 위쪽 여백 설정 */
}

/* 다크모드 토글 버튼 스타일 - 라이트모드 */
body.light-mode .toggle-mode-btn {
    padding: 8px 15px; /* 버튼 내부 여백 설정 */
    background-color: #dee2e6; /* 버튼 배경색 설정 */
    border: none; /* 버튼 테두리 제거 */
    color: white; /* 버튼 텍스트 색상 설정 */
    font-size: 14px; /* 버튼 텍스트 크기 설정 */
    border-radius: 5px; /* 버튼 모서리 둥글게 설정 */
    transition: background-color 0.3s; /* 배경색 전환 애니메이션 */
}

/* 다크모드에서 입력 필드 placeholder 스타일 */
body.dark-mode .signup-form input::placeholder {
    color: #aaaaaa; /* 다크모드에서 placeholder 텍스트 색상 설정 */
}

/* 다크모드 토글 버튼 스타일 - 다크모드 */
body.dark-mode .toggle-mode-btn {
    background-color: #000; /* 다크모드에서 버튼 배경색 설정 */
}

/* 가입 버튼 스타일 - 라이트모드 */
body.light-mode .submit-btn {
    width: 20%; /* 버튼 너비 설정 */
    padding: 5px; /* 버튼 내부 여백 설정 */
    margin-top: 10px; /* 버튼 위쪽 여백 설정 */
    background-color: #adb5bd; /* 버튼 배경색 설정 */
    border: none; /* 버튼 테두리 제거 */
    color: white; /* 버튼 텍스트 색상 설정 */
    font-size: 16px; /* 버튼 텍스트 크기 설정 */
    border-radius: 5px; /* 버튼 모서리 둥글게 설정 */
    font-weight: bold; /* 버튼 텍스트 굵게 설정 */
    cursor: pointer; /* 버튼 커서 스타일 설정 */
}

/* 가입 버튼 스타일 - 다크모드 */
body.dark-mode .submit-btn {
    background-color: #212121; /* 다크모드 버튼 배경색 설정 */
    color: #f1f3f5; /* 다크모드 버튼 텍스트 색상 설정 */
}

.note{
    font-size: 14px; /*note 텍스트 크기 설정*/
    margin-bottom: 1px; /* note 아래쪽 여백 설정*/
}